{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
<form action="/quote" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text" id="quotes">
    </div>
    <button class="btn btn-primary" type="submit">Quote</button>
</form>
<script>
    $( function() {
            var availableQuotes = [
                    {% for quote in quotes %}
                    "{{quote}}",
                    {% endfor %}
                ];
            $( "#quotes" ).autocomplete({
                    source: availableQuotes
                });
        } );
</script>
{% endblock %}
