{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post" class="p-4 shadow-sm border rounded bg-white">
    <div class="form-group">
        <!-- Added inline style to adjust line-height and auto height -->
        <select class="form-control" name="symbol" style="line-height: 1.3; height: auto;">
            <option disabled selected value="" style="font-size: 1rem; color: #6c757d;">
                Symbol
            </option>
            {% for symbol in symbolsList %}
              <option value="{{ symbol }}">{{ symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input autocomplete="off" class="form-control" type="number" min="1" max="10000000000" step="1" name="shares" placeholder="Shares">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}
